
<section class="contact" id="clientes">
  <div class="container">
      <h1>Cadastro</h1>
      <br>
      <section>
        <p>Preencha o formulário abaixo para Cadastrar:</p>
        <form id="client-form" action="#" method="post">

          <div class="nome" style="float: left; text-align: left;">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" #nomeInput required>
          </div>

          <div class="sobrenome" style="float: right; text-align: left;">
          <label for="sobrenome">Sobrenome:</label>
          <input type="text" id="sobrenome" #sobrenomeInput required>
          </div>
          <br>

          <div class="cpf"style="float: left; text-align: left; margin-right: -50px;">
          <label for="cpf" >CPF:</label>
          <input type="text" id="cpf" #cpfInput required>
          </div>


          <div class="idade" style="float: right; text-align: left;  ">
          <label for="idade">Idade:</label>
          <input type="number" id="idade" #idadeInput required>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="endereco" style="text-align: left;">
          <label for="endereco"><br>Endereço:</label>
          <input type="text" id="endereco" #enderecoInput required>
          </div>  

          <button class="">Cadastrar</button>
        </form>
    </section>
  </div>
</section>
