<br>
<br>

<section class="cadastrados" id="cadastrados">
<h3>Usuários Cadastrados:</h3>
<ul class="clientes-list">
  <li *ngFor="let usuario of usuarios" class="cliente-item">
    ID: {{ usuario.id }} | Nome: {{ usuario.nome }} {{ usuario.sobrenome }} | CPF: {{ usuario.cpf }} | Idade: {{ usuario.idade }} | Endereço: {{ usuario.endereco }}
  </li>
</ul>

<button (click)="clientes = obterUsuariosMaisVelhos()">Exibir Usuários com mais de 60 anos</button>

<h3>Clientes Cadastrados:</h3>
<ul class="clientes-list">
  <li *ngFor="let cliente of clientes" class="cliente-item">
    ID: {{ cliente.id }} | Nome: {{ cliente.nome }} {{ cliente.sobrenome }} | CPF: {{ cliente.cpf }} | Idade: {{ cliente.idade }} | Endereço: {{ cliente.endereco }}
  </li>
</ul>
<br>
<p *ngIf="clientes.length === 0 && usuarios.length > 0">Nenhum cliente com mais de 60 anos encontrado.</p>

</section>
<br>
